@page "/news"

@inject Microsoft.Extensions.Configuration.IConfiguration config;
@using System;
@using System.Linq;
@using System.Text.Json.Serialization;
@using System.Text.Json;
@using Newtonsoft.Json

@* HTML CONTENT *@
<PageTitle>News Page</PageTitle>

<div id="mainContentContainer">
  <div id="searchBarContainer">
      <RadzenAutoComplete Placeholder="Search a Stock or Ticker" Data=@searchResultsArray TextProperty="symbol" Change=@(args => OnChange(args))
      Style="width: 100%;" />
  </div>

  <div id="outerNewsContainer">
    @if(searchResults?.bestMatches?.Length == 0) {
      <p style="color: red">@errorMessage</p>
    }
    @* NOTE: Always have a null check to object before PAGE loads, otherwise it will app will crash *@
    @if (newsResults != null)
    {
      @foreach (var item in newsResults?.results)
      {
        <a href=@item.article_url>
          <div id="newsContainer">
            <div id="imageContainer">
              <img id="newsImg" src="@item.image_url">
            </div>
            <h3>@item.title</h3>
            <p style="text-decoration: none;">
              <span style="color: royalblue"><b>@item.publisher.name</b></span>
              | By: @item.author
              | Date: @DateTimeOffset.Parse(@item.published_utc).UtcDateTime.ToShortDateString()
            </p>
          </div>
        </a>
      }
    }
  </div>
</div>


@code {
  HttpClient httpClient = new HttpClient();
  private NewsObject? newsResults;
  private Search? searchResults;
  private IEnumerable<Matches>? searchResultsArray;
  private String? tickerNameFromForm;  
  private string? jsonRes;
  private string? jsonRes_two;
  private String? errorMessage;

  protected override async Task OnInitializedAsync()
  {
    @* await GetResultsNews();
    await GetAutoCompleteData(); *@
  }

  @* A Function that is called when page loads to GET data for specific ticker *@
  public async Task<NewsObject> GetResultsNews(String? tickerName)
  {
    @* API CALL: News (sorted by most recent first), ticker to be dynamically *@
    //Extra API KEY: 33H7QLES94CC8JMS
    string QUERY_URL =
    "https://api.polygon.io/v2/reference/news?ticker="+ tickerName +"&order=desc&limit=10&apiKey=WuCRrJx5EwrJBBCjO_9FbpPEagQhdpCF";

    Uri queryUri = new Uri(QUERY_URL);

    HttpResponseMessage response = await httpClient.GetAsync(queryUri);

    jsonRes = await response.Content.ReadAsStringAsync(); //String

    newsResults = JsonConvert.DeserializeObject<NewsObject>(jsonRes); //Object

    return await Task.FromResult(newsResults);
  }

  @* A function that is called to get "AutoComplete" data *@
  public async Task<Search> GetAutoCompleteData(String? tickerName)
  {
    @* API CALL: AutoComplete of Stock *@
    //Extra API KEY: 33H7QLES94CC8JMS
    string QUERY_URL =
    "https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords="+ tickerName +"&apikey=33H7QLES94CC8JMS";

    Uri queryUri = new Uri(QUERY_URL);

    HttpResponseMessage response = await httpClient.GetAsync(queryUri);

    jsonRes_two = await response.Content.ReadAsStringAsync(); //String

    searchResults = JsonConvert.DeserializeObject<Search>(jsonRes_two); //Object
  
    if(searchResults.bestMatches?.Length == 0) {
      this.errorMessage = "No search results have been found!";
      Console.WriteLine(errorMessage);
      return null;
    }  
    //FOR REFERENCE:https://riptutorial.com/csharp/example/20150/arrays-as-ienumerable---instances
    searchResultsArray = searchResults.bestMatches; //Fill Array of Matches (For Autocomplete Data)

    return await Task.FromResult(searchResults);
  }

  @* A function used for AutoComplete Search Form *@
   protected async Task OnChange(object value)
    {
        //Get String from TextField
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;

        this.tickerNameFromForm = str.ToString();

        await GetResultsNews(tickerNameFromForm);
        await GetAutoCompleteData(tickerNameFromForm);

        Console.WriteLine($"Value changed to {this.tickerNameFromForm}");
    }

  @* ==============// Models for News API// ============== *@
  public class NewsObject
  {
    public int count { get; set; }
    public String? next_url { get; set; }
    public String? request_id { get; set; }
    public Results[]? results { get; set; }
    public String? status { get; set; }
  }

  public class Results
  {
    public String? amp_url { get; set; }
    public String? article_url { get; set; }
    public String? author { get; set; }
    public String? id { get; set; }
    public String? description { get; set; }
    public String? image_url { get; set; }
    public String[]? keywords { get; set; }
    public String? published_utc { get; set; }
    public Publisher? publisher { get; set; }
    public String[]? tickers { get; set; }
    public String? title { get; set; }
  }

  public class Publisher
  {
    public String? favicon_url { get; set; }
    public String? homepage_url { get; set; }
    public String? logo_url { get; set; }
    public String? name { get; set; }
  }

  @* Models for Search AutoComplete API *@
  public class Search
  {
    public Matches[]? bestMatches { get; set; }
  }

  public class Matches
  {
    [JsonProperty("1. symbol")]
    public String? symbol { get; set; }

    [JsonProperty("2. name")]
    public String? name { get; set; }

    [JsonProperty("3. type")]
    public String? type { get; set; }

    [JsonProperty("4. region")]
    public String? region { get; set; }

    [JsonProperty("5. marketOpen")]
    public String? marketOpen { get; set; }

    [JsonProperty("6. marketClose")]
    public String? marketClose { get; set; }

    [JsonProperty("7. timezone")]
    public String? timezone { get; set; }

    [JsonProperty("8. currency")]
    public String? currency { get; set; }

    [JsonProperty("9. matchScore")]
    public String? matchScore { get; set; }
  }
}


@* =============// BELOW IS AN EXAMPLE JSON RESPONSE FOR NEWS API //=========== *@
@* {
  "count": 1,
  "next_url":
  "https://api.polygon.io:443/v2/reference/news?cursor=eyJsaW1pdCI6MSwic29ydCI6InB1Ymxpc2hlZF91dGMiLCJvcmRlciI6ImFzY2VuZGluZyIsInRpY2tlciI6e30sInB1Ymxpc2hlZF91dGMiOnsiZ3RlIjoiMjAyMS0wNC0yNiJ9LCJzZWFyY2hfYWZ0ZXIiOlsxNjE5NDA0Mzk3MDAwLG51bGxdfQ",
  "request_id": "831afdb0b8078549fed053476984947a",
  "results": [
  {
  "amp_url": "https://amp.benzinga.com/amp/content/20784086",
  "article_url":
  "https://www.benzinga.com/markets/cryptocurrency/21/04/20784086/cathie-wood-adds-more-coinbase-skillz-trims-square",
  "author": "Rachit Vats",
  "description": "<p>Cathie Wood-led Ark Investment Management on Friday snapped up another 221,167 shares of the
  cryptocurrency exchange <strong>Coinbase Global Inc </strong>(NASDAQ: <a class=\"ticker\"
  href=\"https://www.benzinga.com/stock/coin#NASDAQ\">COIN</a>) worth about $64.49 million on the stock&rsquo;s
  Friday&rsquo;s dip and also its fourth-straight loss.</p>\n<p>The investment firm&rsquo;s <strong>Ark Innovation
  ETF</strong> (NYSE: <a class=\"ticker\" href=\"https://www.benzinga.com/stock/arkk#NYSE\">ARKK</a>) bought the shares of
  the company that closed 0.63% lower at $291.60 on Friday, giving the cryptocurrency exchange a market cap of $58.09
  billion. Coinbase&rsquo;s market cap has dropped from $85.8 billion on its blockbuster listing earlier this
  month.</p>\n<p>The New York-based company also added another 3,873 shares of the mobile gaming company <strong>Skillz
  Inc</strong> (NYSE: <a class=\"ticker\" href=\"https://www.benzinga.com/stock/sklz#NYSE\">SKLZ</a>), <a
  href=\"http://www.benzinga.com/markets/cryptocurrency/21/04/20762794/cathie-woods-ark-loads-up-another-1-2-million-shares-in-skillz-also-adds-coinbase-draftkin\">just
  a day after</a> snapping 1.2 million shares of the stock.</p>\n<p>ARKK bought the shares of the company which closed
  ...</p><p><a
  href=https://www.benzinga.com/markets/cryptocurrency/21/04/20784086/cathie-wood-adds-more-coinbase-skillz-trims-square
  alt=Cathie Wood Adds More Coinbase, Skillz, Trims Square>Full story available on Benzinga.com</a></p>",
  "id": "nJsSJJdwViHZcw5367rZi7_qkXLfMzacXBfpv-vD9UA",
  "image_url":
  "https://cdn2.benzinga.com/files/imagecache/og_image_social_share_1200x630/images/story/2012/andre-francois-mckenzie-auhr4gcqcce-unsplash.jpg?width=720",
  "keywords": [
  "Sector ETFs",
  "Penny Stocks",
  "Cryptocurrency",
  "Small Cap",
  "Markets",
  "Trading Ideas",
  "ETFs"
  ],
  "published_utc": "2021-04-26T02:33:17Z",
  "publisher": {
  "favicon_url": "https://s3.polygon.io/public/public/assets/news/favicons/benzinga.ico",
  "homepage_url": "https://www.benzinga.com/",
  "logo_url": "https://s3.polygon.io/public/public/assets/news/logos/benzinga.svg",
  "name": "Benzinga"
  },
  "tickers": [
  "DOCU",
  "DDD",
  "NIU",
  "ARKF",
  "NVDA",
  "SKLZ",
  "PCAR",
  "MASS",
  "PSTI",
  "SPFR",
  "TREE",
  "PHR",
  "IRDM",
  "BEAM",
  "ARKW",
  "ARKK",
  "ARKG",
  "PSTG",
  "SQ",
  "IONS",
  "SYRS"
  ],
  "title": "Cathie Wood Adds More Coinbase, Skillz, Trims Square"
  }
  ],
  "status": "OK"
  } *@
